@media (max-width:900px){
    .ytvideo {
        max-width: 100%; height: 400px;
    }
    .reasons50 {
        padding: 10px;
    }
}


@media (max-width:650px){
    .ytvideo {
        max-width: 100%; height: 300px;
    }
}

@media (max-width:450px){
    .ytvideo {
        max-width: 100%; height: 200px;
    }
}